Hola,

Algú ha demanat el restabliment de la contrasenya per a l'adreça de correu electrònic {{ email }}.
Follow the link below:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Si has oblidat el nom de l'usuari: {{ user.username }}

Si clicant l'enllaç the link de més amunt no funciona, si us plau copia i pega la URL
en un navegador diferent.

Si has rebut aquest correu per error, probablement es degut a que un altre usuari
ha introduït per error la teva adreça de correu al intentar restablir la contrasenya.
Si no heu iniciat la sol·licitud, no cal que facis res mes i no cal que tinguis en compte
aquest correu.

Gràcies,

L'administrador del blog