{% extends 'base_accounts.html' %}

{% block title %}
  {% if validlink %}
    Canvia la contrasenya de {{ form.user.username }}
  {% else %}
    Restablir la teva contrasenya
  {% endif %}
{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="card">
        <div class="card-body">
          {% if validlink %}
            <h3 class="card-title">Canviar la contrasenya de @{{ form.user.username }}</h3>
            <form method="post" novalidate>
              {% csrf_token %}
              {% include 'includes/form.html' %}
              <button type="submit" class="btn btn-success btn-block">Canvia la contrasenya</button>
            </form>
          {% else %}
            <h3 class="card-title">Restablir la teva contrasenya</h3>
            <div class="alert alert-danger" role="alert">
            	Sembla que has clicat un enllaç per restablir la contrasenya incorrecte. Torna-ho a intentar.
            </div>
            <a href="{% url 'password_reset' %}" class="btn btn-secondary btn-block">Sol·licitar un nou enllat per restablir la contrasenya</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}